# Database
DATABASE_URL='postgresql://neondb_owner:npg_nhGVeq3rM9ta@ep-raspy-waterfall-ad38tw3c-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=8xOjpUVW+j5mV8/wJXS9AFxO4itKpHc8MGuZRfyAiYI=

# Stripe (optional, for subscription features)
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...